.wrap {
    width: 1000px;
    height: 600px;
    padding: 50px;

}

.container {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-inline: 5px;
    text-align: center;


}

.header {
    background: #0b0bbe;
    width: 600px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    color: #fff;

}

.container_2 {
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: center;

}

.nav {
    background: #4545e3;
    width: 600px;
    height: 50px;
    text-align: center;
    align-items: center;
    color: #fff;

}

.container_3 {
    height: 300px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    text-align: center;


}

.main {
    width: 600px;
    height: 300px;
    background: #15e7e7;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    text-align: center;
    color: #fff;


}

.aside {
    width: 200px;
    height: 300px;
    background: #07075b;
    color: #fff;
    text-align: center;


}

.footer {
    background: #0d8dea;
    width: 600px;
    height: 50px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;

}