@media screen and (max-width: 400px) {
    .right__container{
        display: none;
    }
.nav__right{
    display: none;

}
.nav__time{
    display: none;
}
.nav__address{
    display: none;
}

#navbarDropdownMenuLink{
    display: none;
}
    #navbarDropdownMenuLink2{
    display: none;
}
.left__container{
    display: flex;
    justify-content: flex-start;

}
.little__symbol{
    display: none;
}
.left__container{
    max-width: 200px;
}
.carousel-inner-2{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}
.left__title{
    display: flex;
}
.three__btn{
    display: flex;
    column-gap: 10px;
    justify-content: flex-end;
}
.description__container{
    display: flex;
}
.one__button{
    display: flex;
    justify-content: flex-start;
}
.line{
    display: none;
}


.footer__description{
    display: flex;
    flex-direction: column;
}
.footer__text{
    display: flex;
    flex-direction: column;
}
.nav__btn>button{
   display: none;
}

}